.ColumnBodyList{
    line-height: 200%;
    padding: 5px;
}

.ColumnHeader {
  width: 100%;
  max-width: 1000px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 0 3rem 0; /* 上=0, 右=0, 下=3rem, 左=0 → 左寄せ */
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 80%;             /* ページ幅の60%に設定 */
  max-width: 1000px;       /* 最大幅を600pxまでに制限 */
}