@media screen and (max-width: 480px){

    /* common
    ------------------------------------------------ */
    body{
        display: block;
    }
    .sidebar{
        position: sticky;
        top: 0;
        z-index: 100;
        width: 100%;
        overflow-x: auto;
        height: auto;
        background-color: white;
    }

    .mainColumn{
        margin-left: 0%;
        width: 100%;
    }

    h1{
        padding-top: 4rem;
        font-size: 1.8rem;
    }

    h2{
        padding-top: 4rem;
        font-size: 1.5rem;
    }

    /* sidebar
    ------------------------------------------------ */
    .sidebar > ul{
        width: 100%;
        display: flex;
        margin-left: 0rem;
        margin-top: 0rem;
        list-style: none;
        padding-left: 0;
    }

    .sideLink{
        font-size: 0.9rem;
        flex: 1;
        text-align: center;
        margin-bottom: 0;
    }

    .sideLink a {
        display: block;
        position: static;
        width: 100%;
        padding: 4px 2px;
        word-break: keep-all;
    }

    .sideLink::marker {
        font-size: 0;
    }

    /* top
    ------------------------------------------------ */
    .topBody{
        flex-wrap: wrap;
    }

    .topBodyLeft{
        width: 100%;
    }
    
    .topBodyRight{
        width: 100%;
    }

    .topProfileImg{
        width: 100%;
    }

    .topProfileItem{
        width: 70%;
    }

    .topInfoItemBody{
        margin-left: 2rem;
    }

    /* profile
    ------------------------------------------------ */
    .mainColumnProfile{
        padding: 0 10%;
    }

    .profileBodyItem{
        flex-wrap: wrap;
    }

    .profileBodyItemLabel{
        width: 100%;
    }
    
    .profileBodyItemValue{
        margin: 0 5%;
        width: 90%;
    }

    /* book
    ------------------------------------------------ */
    .mainColumnBook{
        padding: 0 5%;
    }

}