.sidebar > ul{
    margin-left: 1rem;
}

.sideLink::marker {
    font-size: 0rem;
}

.sideLink{
    position: relative;
    margin-bottom: 1.5rem;
}

.sideLink a {
    position: absolute;
    left: -0.7rem;
}
